<div class="card">
  <h5>📋 Plans</h5>

  <app-crud-table
    [data]="data"
    [columns]="getColumns()"
    [actions]="getActions()"
    [loading]="loading()"
    [globalFilter]="globalFilter"
    [selectedItems]="selectedItems"
    (onGlobalFilterChange)="globalFilter = $event"
    (onSelectionChange)="selectedItems = $event"
    (onNew)="openNewModal()"
    (onEdit)="openEditModal($event)"
    (onDelete)="deleteItem($event)"
    dataTestId="plans">
  </app-crud-table>
</div>

<!-- Form Modal -->
<app-crud-form
  [visible]="showModal()"
  [mode]="'create'"
  [config]="getFormConfig()"
  [data]="editingItem"
  [loading]="loading()"
  (onSave)="onFormSave($event)"
  (onCancel)="onFormCancel()"
  (onClose)="onFormClose()">
</app-crud-form>