<div class="card">
  <h5>📋 Plans</h5>
  
  <app-crud-table
    [data]="plans"
    [columns]="columns"
    [actions]="actions"
    [loading]="loading"
    [globalFilter]="globalFilter"
    [selectedItems]="selectedPlans"
    (onGlobalFilterChange)="globalFilter = $event"
    (onSelectionChange)="selectedPlans = $event"
    (onNew)="openNewModal()"
    (onEdit)="openEditModal($event)"
    (onDelete)="deletePlan($event)"
    dataTestId="plans"
    entityName="📋 plans"
    entityNamePlural="📋 plans">
  </app-crud-table>
</div>

<!-- Form Modal -->
<app-crud-form
  [visible]="showModal"
  [mode]="'create'"
  [config]="getFormConfig()"
  [data]="editingPlan"
  [loading]="loading"
  (onSave)="onFormSave($event)"
  (onCancel)="onFormCancel()"
  (onClose)="onFormClose()">
</app-crud-form>
